<html>
<head>
  <meta charset="utf-8">
  <link rel=icon href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.14/svgs/solid/credit-card.svg>
  <script src="https://js.tilled.com/v1"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<style type="text/css">
    body { margin-top:20px; }
    .inputField {
          border: 1.5px solid #DFE3EB;
          height: 40px;
          padding-left: 10px;
          font-weight: 500;
        }
    .credit-card-box .panel-title {
        display: inline;
        font-weight: bold;
    }
    .credit-card-box .form-control.error {
        border-color: red;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
    }
    .credit-card-box label.error {
      font-weight: bold;
      color: red;
      padding: 2px 8px;
      margin-top: 2px;
    }
    .credit-card-box .payment-errors {
      font-weight: bold;
      color: red;
      padding: 2px 8px;
      margin-top: 12px;
    }
    .credit-card-box label {
        display: block;
    }

    .credit-card-box .display-tr {
        display: table-row;
    }
    .credit-card-box .display-td {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
    }

    .credit-card-box .panel-heading img {
        min-width: 180px;
        border-style: solid;
        border-width: 3px;
        border-color: white;
        box-shadow: 3px 3px 5px #D3D3D3;
    }

    .credit-card-font-size {
      font-size: large;
    }
    .icon{
      margin-right:auto ;
    }

    .hidden {
      visibility: hidden;
      display: none;
    }

    #main {
      max-width: 600px;
    }
    
  </style>
</head>
<body>
  <h3 class="text-center">Tilled Payment Example</h3>

<article id="main" class="card mx-auto">
<div class="card-body p-5">

<ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
  <li class="nav-item w-50">
    <a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
    <i class="fa fa-credit-card"></i> Credit Card</a></li>
  <li class="nav-item w-50">
    <a class="nav-link" data-toggle="pill" href="#nav-tab-ach">
    <i class="fas fa-university"></i>  ACH</a></li>
  
</ul>

<div class="tab-content">
<div class="tab-pane fade show active" id="nav-tab-card" *ngIf="selectedPaymentType === 'card'">
  <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
  <div class="form-group">
    <label for="card-number-element">Card number</label>
        <div class="inputField" id="card-number-element"  autocomplete="cc-number">
        </div>
        <span class="input-group-text text-muted">
          <i class="credit-card-logo fab fa-cc-visa"></i>&nbsp;<i class="credit-card-logo fab fa-cc-amex"></i>&nbsp;
          <i class="credit-card-logo fab fa-cc-mastercard"></i>&nbsp;<i class="credit-card-logo fab fa-cc-diners-club"></i>&nbsp;
          <i class="credit-card-logo fab fa-cc-jcb"></i>&nbsp;<i class="credit-card-logo fab fa-cc-discover"></i>
        </span>
  </div> <!-- form-group.// -->
  <div class="row">
      <div class="col-sm-6">
          <div class="form-group">
              <label ><span class="hidden-xs">Expiration</span> </label>
            <div class="inputField" id="card-expiration-element" >
              </div>
          </div>
      </div>
      <div class="col-sm-6">
          <div class="form-group">
              <label>CVV <i class="fa fa-question-circle"></i></span></label>
              <div class="inputField" id="card-cvv-element" >
              </div>
          </div> <!-- form-group.// -->
      </div>
      <div class="w-100 m-3">
        <div class="form-group card-billing-details hidden">
          <label >Full Name</label>
          <input type="text" class="form-control" id="card-name-element" name="name" placeholder="" required="">
          <label class="mt-3">Address</label>
          <input type="text" class="form-control" id="card-address-element" name="address" placeholder="" required="">
          <div class="d-flex mt-3">
            <div class="col-sm-6">  
              <label >Country</label>
              <input type="text" class="form-control" id="card-country-element" name="country" placeholder="" required="">
              <label >City</label>
              <input type="text" class="form-control" id="card-city-element" name="city" placeholder="" required="">
            </div>
            <div class="col-sm-6">
              <label >State</label>
              <input type="text" class="form-control" id="card-state-element" name="state" placeholder="" required="">
              <label >Zip</label>
              <input type="text" class="form-control" id="card-zip-element" name="billingZip" placeholder="" required="">
            </div>
          </div>  
        </div> <!-- form-group.// -->
      </div>
  </div> <!-- row.// -->
  <div class="d-flex justify-content-center align-items-center">
    <label class="mb-0 p-3" for="save-pm-checkbox">Create payment method?</label>
    <input class="p-3" type="checkbox" name="save-pm-checkbox" id="card-save-pm-checkbox-element">
  </div>
  <button class="subscribe btn btn-primary btn-block" type="button" id="submit"> Pay  </button>
  <button class="subscribe btn btn-primary btn-block hidden" type="button" id="submitPM"> Save </button>

  </div> <!-- tab-pane.// -->
  <div class="tab-pane fade" id="nav-tab-ach" *ngIf="selectedPaymentType === 'ach_debit'">
    <!-- <div class="row"> -->
    <div class="row">
      <div class="w-100 pr-3">
        <div class="form-group d-flex flex-column gap-3" >
          <label>Account Type</label>
          <select class="form-control" id="ach_account_type" name='ach_account_type'>
            <option value="checking">Checking</option>
            <option value="savings">Savings</option>
          </select>
          <label class="mt-3">Account Number</label>
          <div class="inputField" id="bank-account-number-element" ></div>
          <label class="mt-3">Routing Number</label>
          <div class="inputField" id="bank-routing-number-element" ></div>
        </div> <!-- form-group.// -->
        <div class="form-group ach-billing-details hidden">
          <label >Full name</label>
          <input type="text" id="ach-name-element" class="form-control" name="name" placeholder="" required="">
          <label class="mt-3">Address</label>
          <input type="text" class="form-control" id="ach-address-element" name="address" placeholder="" required="">
          <div class="d-flex mt-3">
                <div class="col-sm-6">  
                  <label >Country</label>
                  <input type="text" class="form-control" id="ach-country-element" name="country" placeholder="" required="">
                  <label >City</label>
                  <input type="text" class="form-control" id="ach-city-element" name="city" placeholder="" required="">
                </div>
                <div class="col-sm-6">
                  <label >State</label>
                  <input type="text" class="form-control" id="ach-state-element" name="state" placeholder="" required="">
                  <label >Zip</label>
                  <input type="text" class="form-control" id="ach-zip-element" name="billingZip" placeholder="" required="">
                </div>
              </div>  
        </div> <!-- form-group.// -->
            
        </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <label class="mb-0 p-3" for="save-pm-checkbox">Create payment method?</label>
          <input class="p-3" type="checkbox" name="save-pm-checkbox" id="ach-save-pm-checkbox-element">
        </div>
        <button class="subscribe btn btn-primary btn-block" type="button" id="submit2"> Pay  </button>
        <button class="subscribe btn btn-primary btn-block hidden" type="button" id="submitPM2"> Save  </button>
      </div>
    </form>
  </div> <!-- tab-content .// -->
</div> <!-- card-body.// -->
</article> <!-- card.// -->
<br><br>
    <h4 class="text-center">Be sure to insert your secret and publishable API keys.</h4>
    <h4 class="text-center"><a href="https://api.tilled.com/docs#section/Tilled.js" target="_blank">Tilled.js docs</a>
    </h4>
 
<br><br>
  

  <!-- Included here for simplicity of example -->
  <script>
    var account_id = 'Add Your Account Id Here';
    var pk_PUBLISHABLE_KEY = 'Add Your Key Here';

    // toggle Pay vs Save Payment Method
    toggleSavePayment()

    function toggleSavePayment () {
      document.getElementById('card-save-pm-checkbox-element').addEventListener('change', () => {
        document.getElementById('submit').classList.toggle('hidden');
        document.getElementById('submitPM').classList.toggle('hidden');

        document.querySelector('.form-group.card-billing-details').classList.toggle('hidden');
      })
      document.getElementById('ach-save-pm-checkbox-element').addEventListener('change', () => {
        document.getElementById('submit2').classList.toggle('hidden');
        document.getElementById('submitPM2').classList.toggle('hidden');

        document.querySelector('.form-group.ach-billing-details').classList.toggle('hidden');
      })
    }      

    document.addEventListener('DOMContentLoaded', async () => {
      const tilledAccountId = account_id
      const tilled = new Tilled(
        pk_PUBLISHABLE_KEY, 
        tilledAccountId, 
        { 
          sandbox: true,
          log_level: 0 
        })
    
      const form = await tilled.form({
        payment_method_type: 'card',
      })
    
      // Optional styling of the fields
      const fieldOptions = {
        styles: {
          base: {
            fontFamily: 'Helvetica Neue, Arial, sans-serif',
            color: '#304166',
            fontWeight: '400',
            fontSize: '16px',
          },
          invalid: {
            ':hover': {
              textDecoration: 'underline dotted red',
            },
          },
          valid: {
            color: '#00BDA5',
          },
        },
      };

      form.createField('cardNumber', fieldOptions).inject('#card-number-element')
      form.createField('cardExpiry', fieldOptions).inject('#card-expiration-element')
      form.createField('cardCvv', fieldOptions).inject('#card-cvv-element')
    
      await form.build()
    
      const submitButton = document.getElementById('submit')
      const savePMButton = document.getElementById('submitPM')
    
      form.on('validation', (event) => {
        if (event.field) {
          event.field.element.classList.remove('success')
          event.field.element.classList.remove('error')
          if (event.field.valid) {
            event.field.element.classList.add('success')
          } else {
            event.field.element.classList.add('error')
          }
        }

        submitButton.disabled = form.invalid
        savePMButton.disabled = form.invalid
      })
    
      // Update UI to reflect card brand
      form.fields.cardNumber.on('change', () => {
        const cardBrand = form.getCardBrand()
        const icons = document.querySelectorAll('.credit-card-logo')
    
        const highlight = icon => icon.style = 'color: #3DC9B5';

        switch (cardBrand) {
          case 'American Express':
            highlight(document.querySelector('.credit-card-logo.fab.fa-cc-amex'));
            break
          case 'MasterCard':
            highlight(document.querySelector('.credit-card-logo.fab.fa-cc-mastercard'));
            break
          case 'Visa':
            highlight(document.querySelector('.credit-card-logo.fab.fa-cc-visa'));
            break
          case 'Diners':
            highlight(document.querySelector('.credit-card-logo.fab.fa-cc-diners-club'));
            break
          case 'JCB':
            highlight(document.querySelector('.credit-card-logo.fab.fa-cc-jcb'));
            break
          case 'Discover':
            highlight(document.querySelector('.credit-card-logo.fab.fa-cc-discover'));
            break
          default:
            icons.forEach( icon => icon.removeAttribute('style'));
        }
      })
    
      submitButton.addEventListener('click', async () => {
        
        submitButton.disabled = true

        // Generally gone in advance...
        // Ask server to generate PaymentIntent
        // it will send back clientSecret
        let secretResponse = await fetch('/secret/' + tilledAccountId)
        let secretData = await secretResponse.json()
        let clientSecret = secretData.client_secret

        console.log('PaymentIntent clientSecret: ' + clientSecret)


        // you can either pass the entire payment method object
        // or the id of the paymentMethod
        await tilled.confirmPayment(clientSecret, {
          payment_method: { 
            form,
            type: 'card',
            billing_details: {
              name: 'John Smith',
              address: {
                country: "US",
                zip: "80301",
                state: "CO",
                city: "Boulder",
                street: "2905 Pearl Street"
              }
            }
          },
        }).then(
            (payment) => {
              console.log('Successful payment.')
              console.log(payment)
              window.alert('Successful payment')
              // payment is successful, payment will contain information about the transaction that was created
            },
            (error) => {
              console.log('Failed to confirm payment.')
              console.log(error)
              // show the error to the customer
              window.alert(error)
            },
          )

        })
        savePMButton.addEventListener('click', async () => {
    
        savePMButton.disabled = true
        
        await tilled.createPaymentMethod({
        form,
        type: 'card',
        billing_details: {
          name: document.getElementById('card-name-element').value.trim(),
          address: {
            country: document.getElementById('card-country-element').value.trim(),
            zip: document.getElementById('card-zip-element').value.trim(),
            state: document.getElementById('card-state-element').value.trim(),
            city: document.getElementById('card-city-element').value.trim(),
            street: document.getElementById('card-address-element').value.trim()
          }
        },
      }).then(
          (paymentMethod) => {
            console.log(`Successful paymentMethod! The paymentMethod id is ${paymentMethod.id}`)
            console.log(paymentMethod)
            window.alert(`Successful paymentMethod! The paymentMethod id is ${paymentMethod.id}`)
            // payment is successful, payment will contain information about the transaction that was created
          },
          (error) => {
            console.log('Failed to confirm payment.')
            console.log(error)
            // show the error to the customer
            window.alert(error)
          },
        )
      })
    }) // end of DOMContentLoaded

    document.addEventListener('DOMContentLoaded', async () => {
      const tilledAccountId = account_id
      const tilled = new Tilled(
        pk_PUBLISHABLE_KEY, 
        tilledAccountId,  
        { 
          sandbox: true,
          log_level: 0 
        })
        
      const form = await tilled.form({
        payment_method_type: 'ach_debit',
      })
      
      form.createField('bankRoutingNumber').inject('#bank-routing-number-element');
      form.createField('bankAccountNumber').inject('#bank-account-number-element');
      
      await form.build()
      
      const submitButton = document.getElementById('submit2')
      const savePMButton = document.getElementById('submitPM2')
    
      form.on('validation', (event) => {
        if (event.field) {
          event.field.element.classList.remove('success')
          event.field.element.classList.remove('error')
          if (event.field.valid) {
            event.field.element.classList.add('success')
          } else {
            event.field.element.classList.add('error')
          }
        }

        submitButton.disabled = form.invalid
        savePMButton.disabled = form.invalid
      })
    
    
      submitButton.addEventListener('click', async () => {
        
        submitButton.disabled = true

        // Generally gone in advance...
        // Ask server to generate PaymentIntent
        // it will send back clientSecret
        let secretResponse = await fetch('/secret/' + tilledAccountId)
        let secretData = await secretResponse.json()
        let clientSecret = secretData.client_secret

        console.log('PaymentIntent clientSecret: ' + clientSecret)
        
        // Confirming PI
        // you can either pass the entire payment method object
        // or the id of the paymentMethod
        await tilled.confirmPayment(clientSecret, {
          payment_method: { 
            form,
            type: 'ach_debit',
            billing_details: {
              name: 'John Smith',
              address: {
                country: "US",
                zip: "80301",
                state: "CO",
                city: "Boulder",
                street: "2905 Pearl Street"
              }
            },
            ach_debit: {
            account_type: document.getElementById('ach_account_type').value.trim()
            }
          },
      }).then(
          (payment) => {
            console.log('Successful payment.')
            console.log(payment)
            window.alert('Successful payment')
            // payment is successful, payment will contain information about the transaction that was created
          },
          (error) => {
            console.log('Failed to confirm payment.')
            console.log(error)
            // show the error to the customer
            window.alert(error)
          },
        )

      })
      
      // Creating Payment Method
      savePMButton.addEventListener('click', async () => {
    
      savePMButton.disabled = true

      await tilled.createPaymentMethod({
        form,
        type: 'ach_debit',
        billing_details: {
          name: document.getElementById('ach-name-element').value.trim(),
          address: {
            country: document.getElementById('ach-country-element').value.trim(),
            zip: document.getElementById('ach-zip-element').value.trim(),
            state: document.getElementById('ach-state-element').value.trim(),
            city: document.getElementById('ach-city-element').value.trim(),
            street: document.getElementById('ach-address-element').value.trim()
          }
        },
        ach_debit: {
        account_type: document.getElementById('ach_account_type').value.trim()
        }
      }).then(
        (paymentMethod) => {
          console.log(`Successful paymentMethod! The paymentMethod id is ${paymentMethod.id}`)
          console.log(paymentMethod)
          window.alert(`Successful paymentMethod! The paymentMethod id is ${paymentMethod.id}`)
          // paymentMethod is successful, paymentMethod will contain information about the transaction that was created
        },
        (error) => {
          console.log('Failed to confirm paymentMethod.')
          console.log(error)
          // show the error to the customer
          window.alert(error)
        },
      )

    })
  }) // end of DOMContentLoaded

</script>
</body>
</html>
