.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}

.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.credit-card-box label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.credit-card-box .payment-errors {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 12px;
}

.credit-card-box label {
    display: block;
}

.credit-card-box .display-tr {
    display: table-row;
}

.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

.credit-card-box .panel-heading img {
    min-width: 180px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    box-shadow: 3px 3px 5px #d3d3d3;
}

.credit-card-font-size {
    font-size: large;
}

.icon {
    margin-right: auto;
}

.inputField input::placeholder,
.form-group div div select {
    color: #757575;
}

.inputField input:focus::placeholder {
    color: transparent;
}

input:checked+.slider {
    background-color: #03A9F4;
}

input:focus+.slider {
    box-shadow: 0 0 1px #03A9F4;
}

input:checked+.slider:before {
    transform: translateX(1.4rem);
}

div.card-body ul li a.active {
    background-color: #EFF2F8;
    box-shadow: 0px 2px 5px 1px #03a9f40f, 0px 1px 1px 0px rgb(0 0 0 / 11%);
}

.credit-card-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -2.63rem;
    margin-right: 1rem;
    height: 100%;
    margin-bottom: 0.2rem;
}

.credit-card-logo {
    font-size: 1.25rem;
    margin-left: 8px;
}

div.credit-card-icons i {
    margin-bottom: 1.2rem;
    color: #1B253B;
}

#cardCvv.invalid {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}